/* Colors */

/*
COLOR CODES:
Red - #9c2135
LightRed - #e9d1d5
Blue - #282c97
LightBlue - #dedffc
Green - #006a44
LightGreen - #c9dcd5
*/

:root {
    --red: #9c2135;
    --lightRed: #e9d1d5;
    --blue: #282c97;
    --lightBlue: #dedffc;
    --green: #006a44;
    --lightGreen: #c9dcd5;
    --text: black;
    --text-inverted: white;

    /* Fonts */
    --font: sans-serif;
}


body{
    margin: 0;
    min-height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page {
    padding: 10px;
    background-color: var(--lightGreen);
    flex: 1;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 24px;
}

footer {
    background-color: var(--green);
    min-height: 100px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.page_section {
    margin-top: 50px;
}
